@use 'helpers' as *;

body { 
   @include fluid-text(18, 14);

   font-family: var(--font-family);
   letter-spacing: -0.03em;
   color: var(--grey-60);
   background-color: var(--dark-08);

   h1, .h1,
   h2, .h2,
   h3, .h3,
   h4, .h4,
   h5, .h5,
   h6, .h6 {
      color: var(--absolute-white);
   }
}

h1, .h1,
h2, .h2,
h3, .h3 {
   font-family: var(--second-font-family);
   font-weight: 500;
}

h4, .h4,
h5, .h5,
h6, .h6 {
   font-weight: 600;
}

h1, .h1 {
      @include fluid-text(70, 30);

      line-height: 1.2;
}

h2, .h2 {
      @include fluid-text(58, 28);

      line-height: 1.3;
}   

h3, .h3 {
      @include fluid-text(40 , 24)
}

h4, .h4 {
      @include fluid-text(26, 18)
}   

h5, .h5 {
      @include fluid-text(24, 18)
}

h6, .h6 {
      @include fluid-text(20, 16)
}

a,
button,
label,
select,
input,
textarea,
svg * {
      transition-duration: var(--transition-duration);
}

a {
   color: inherit;

   @include hover{
      color: var(--yellow-55);
   }

   &[class] {
      text-decoration: none;
   }
}

:focus-visible {
   outline: rem(2) dashed var(--absolute-white);
   outline-offset: rem(4);
   transition-duration: 0s !important;
}