@use 'helpers' as *;
   
:root {
   --absolute-white: #ffffff;
   --absolute-black: #000000;
   --yellow-55: #ffd11a;
   --yellow-60: #ffd633;
   --yellow-70: #ffe066;
   --yellow-80: #ffeb99;
   --yellow-90: #fff5cc;
   --yellow-95: #fffae5;
   --yellow-97: #fffcf0;
   --yellow-99: #fffefa;
   --dark-08: #141414;
   --dark-10: #1a1a1a;
   --dark-15: #262626;
   --dark-20: #333;
   --dark-25: #404040;
   --dark-30: #4d4d4d;
   --dark-35: #595959;
   --dark-40: #666;
   --grey-50: #7e7e81;
   --grey-60: #98989a;
   --grey-70: #b3b3b3;
   --grey-80: #ccc;
   --grey-90: #e4e4e7;
   --grey-95: #f1f1f3;
   --grey-97: #f7f7f8;
   --grey-99: #fcfcfd;
   --color-red: #ff5500;

   --font-family: "Inter", sans-serif;
   --second-font-family: "Kumbh Sans", sans-serif;

   --border-radius-small: 4px;
   --border-radius-medium: 10px;
   --border-radius-large: 12px;
   --border-radius-extra-large: 13px;

   --border: 1px solid var(dark-10);
   --border-nav-menu: 1px solid var(dark-20);

   --padding-buttons: 14px 24px;
   --padding-section-buttons: 30px 24px;
   --padding-cards: 40px;
   --padding-section: 0 162px;

   --container-width: #{rem(1600)};
   --container-padding-x: #{rem(16)};

   --transition-duration: 0.2s;

   @include laptop {
      --container-width: #{rem(1280)};
   }
}